
html {
  box-sizing: border-box;
  color: #fff;
  font-family: 'Special Elite', 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.2;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/pexels-photo-289367.jpg) bottom fixed no-repeat;
  background-size: cover;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', Arial, sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.75rem;
}

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  word-spacing: .08rem;
}

/* 

Main grid - lays out header, body, and footer
** auto forces header/footer to only occupy required space, 1fr for body forces body to occupy remaining space > cheap and dirty sticky footer **

*/

main {
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 1100px;
  margin: 2.5rem auto;
  min-height: 85vh;
  border-radius: 15px;
  padding: 2.5rem 2.5rem 1.5rem;
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: auto 1fr auto;
}

.browserdamus__header {
  align-self: center;
  justify-self: center;
  padding: 1.5rem 0;
}

.browserdamus__body {
  display: grid;
  grid-template-columns: 3fr minmax(340px, 1fr);
}

.browserdamus__app {
  padding: 0 1.5rem;
}

.browserdamus__sidebar {
  padding: 0 1.5rem;
}

footer {
  padding: 0.5rem 0;
  align-self: center;
  justify-self: center;
}

button, input {
  outline: none;
}


